<p style="color: green"><%= notice %></p>

<% content_for :title, "Friends" %>

<h1>Friends</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
  <% @friends.each do |friend| %>
    <%= render friend %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path %>
